* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 600px;
  margin: auto;
}

.header {
  padding-top: 100px;
}
.header-content {
  position: relative;
  height: 100px;
}

.header-content--img {
  border-radius: 50%;
  width: 46px;
  height: 46px;
  border: 1px solid #f3f3f3;
  line-height: 55px;
  text-align: center;
  position: absolute;
  top: 0;
  transform: translateY(-25%);
}

.header-content--h5 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #191d31;
  text-align: center;
  font-family: "Outfit";
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

.detail-content--flex {
  color: #191d31;
  text-align: right;
  font-family: Outfit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  justify-content: flex-start;
  padding-top: 18px;
}
.detail-content--flex--no {
  margin-right: 10px;
}

.detail-content--date {
  color: #a7a9b7;
  text-align: right;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  padding-top: 5px;
}
.location {
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.detail--images--title {
  color: #191d31;
  text-align: right;
  font-family: Outfit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  padding-bottom: 12px;
}
.images {
  display: flex;
  justify-content: space-between;
}
.detail--images--img {
  width: 20%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f3f3f3;
  margin: 24px 0;
}

.shipment-details {
  margin-top: 24px;
}
.shipment-details--table {
  border: 1.5px solid #f3f3f3;
  width: 100%;
  border-collapse: collapse;
}
tr {
  border-bottom: 1px solid #f3f3f3;
}
td {
  padding: 16px 14px;
}
.table-td--first {
  color: #a7a9b7;
  text-align: right;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.table-td--last {
  color: #191d31;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: end;
}

/* nav style */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .navbar-container--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-brand {
  }
  .nav-bar--text {
    margin-left: 10px;
  }

  .nav-bar--text--h5 {
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.14px;
    margin: 0;
    color: #58af62;
  }
  .nav-bar--text--span {
    color: #594a95;
    font-family: "Montserrat";
    font-size: 12.5px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
